.drop{
  margin: 7px 0;
  .ivu-dropdown-rel{
    text-align: center;width: 66px;padding-right: 6px;
  }
  .iconfont{
    font-size: 18px;
  }
  .ivu-dropdown-menu{
    color: #333;
    .iconfont{
      font-size: 13px !important;color: #333 !important;margin-right: 5px;
    }
  }
}

// 隐藏对话框的footer
// .footerHide{
//   .ivu-modal-footer{
//     display: none;
//   }
// }
